img {
  width: 100%;
}

.nav-container {
  background-color: #F72210;
}

.page-header .login-button {
  font-size: 0;
  background: url(https://g.newsweek.com/www/images/user-w.svg) center / contain no-repeat;
  width: 30px;
  height: 30px;
  padding-left: 0;
  opacity: .75;
  color: white;
}
