* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

img {
  cursor: pointer;
  width: 200px;
}

ul {
  list-style-type: none;
}

.small-navbar {
  background-color: #f72210;
}

.page-header .login-button {
  font-size: 0;
  background: url(https://g.newsweek.com/www/images/user-w.svg) center / contain no-repeat;
  width: 30px;
  height: 30px;
  padding-left: 0;
  opacity: .75;
  color: white;
}

.top-story-image {
  position: relative;
}

.img-fluid {
  position: absolute;
  width: 100%; 
}

.category {
  padding: 4px 16px;
  background-color: #FFFFFFE6;
  position: absolute;
  bottom: 0;
}

.category a {
  font-size: 17px;
  font-weight: bold;
  color: #f72210;
}

.category a:hover {
  text-decoration: none;
  color: #f72210;
}

.category-film {
  padding: 0 6px;
  position: absolute;
  bottom: 0;
  background-color: #C2D4D7;
}

.category-film a {
  font-size: 13px;
  font-weight: bold;
  color: #333;
}

.category-film a:hover {
  text-decoration: none;
  color: #333;
}

.category2 {
  font-size: 17px;
  padding: 6px 16px 6px;
  background-color: #FFFFFFE6;
  color: #3581F4;
  position: absolute;
  bottom: 0;
}

.block-title {
  font-size: 16px;
  color: #03030366;
  font-weight: bold;
  padding-bottom: 11px;
}

.block-title a {
  font-size: 16px;
  color: #03030366;
  font-weight: bold;
  padding-bottom: 11px;
}

.block-title a:hover {
  text-decoration: none;
  color: #03030366;
}

.turn-title a {
  font-size: 16px;
  color: #03030380;
}

.turn-title a:hover {
  text-decoration: none;
  color:  #03030380;
}

.summary {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333333;
}

.featured-stories h3 > a {
  font-size: 20px;
  color: black;
}

.featured-stories h3 > a:hover {
  text-decoration: underline #f72210;
}

.sponsored h3 > a {
  font-size: 20px;
  color: black;
}

.sponsored h3 > a:hover {
  text-decoration: underline #f72210;
}

.top-story h2 > a {
  font-size: 22px;
  color: black;
}

.top-story h2 > a:hover {
  text-decoration: underline #f72210;
}

.debate-link a {
  font-size: 17px;
  color: black;
}

.debate-link a:hover {
  color: black;
  text-decoration: underline #f72210;
}

.vs-div button {
  font-size: 14px;
  background-color: black;
  color: white;
  border: none;
  padding: 4px 6px;
  border-radius: 50%;
}

.byline {
  font-size: 14px;
  color: #555555;
  margin: 4px 0 0;
}

.div-title {
  font-size: 19px;
  color: #333;
  margin: 0 0 15px;
}

.div-title img {
  width: 29px;
  height: 28px;
}

.see-features {
  background-color: #f4f5f6;
  padding: 10px 10px 10px 12px;
}

.see-features:hover {
  background-color: rgb(223, 223, 223);
}

.see-features a {
  font-size: 18px;
  color: black;
}

.see-features a:hover {
  color: black;
  text-decoration: none;
}

.magazine-spans {
  margin: 10px 0;
}

.cover-span {
  font-size: 16px;
  color: white;
  background-color: #f72210;
  padding: 3px 7px;
  margin: 0 7px 0 0;
}

.world-span a {
  font-size: 16px;
  color: #f72210;
  background-color: white;
}

.magazine h2 > a {
  font-size: 16px;
  color: black;
}

.magazine h2 > a:hover {
  text-decoration: underline #f72210;
  color: black;
}

.editor-picks h3 > a {
  font-size: 20px;
  color: black;
}

.editor-picks h3 > a:hover {
  text-decoration: underline #f72210;
}

.block-title2 {
  padding: 25px 0 6px;
}

.block-title2 a {
  font-size: 22px;
  color: #f72210;
}

.us-div h4 {
  margin: 10px 0 25px;
}

.us-div h4 > a {
  font-size: 18px;
  color: black;
}

.us-div h4 > a:hover {
  text-decoration: underline #f72210;
  color: black;
}

.info a {
  font-size: 17px;
  color: black;
}

.info a:hover {
  text-decoration: underline #f72210;
  color: black;
}

@media only screen and (max-width: 600px) {
  
}

@media only screen and (min-width: 768px) {
  .summary {
    font-size: 15px;
  }
}


@media only screen and (min-width: 1024px) {

}

