* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

img {
  cursor: pointer;
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.small-navbar {
  background-color: #f72210;
}

.small-navbar img {
  width: 160px;
}

.opinion {
  display: flex;
  flex-direction: column;
}

.headshot img {
  width: 58px;
  height: 58px;
}

.newsletter-signup {
  max-width: 300px;
  margin: 0 auto 30px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;
}

.free-signup input {
  width: 100%;
  margin-bottom: 5px;
}

.form-submit {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f61602;
  border-radius: 3px;
  border: none;
}

.img-main {
  background-color: #f4f5f6;
  padding: 24px 20px 20px;
}

.page-header .login-button {
  font-size: 0;
  background: url(https://g.newsweek.com/www/images/user-w.svg) center / contain no-repeat;
  width: 30px;
  height: 30px;
  padding-left: 0;
  opacity: 0.75;
  color: white;
}

.top-story-image {
  position: relative;
}

.img-fluid {
  position: absolute;
  width: 100%;
}

.category {
  padding: 4px 16px;
  background-color: #ffffffe6;
  position: absolute;
  bottom: 0;
}

.category a {
  font-size: 17px;
  font-weight: bold;
  color: #f72210;
}

.category-film a {
  font-size: 13px;
  font-weight: bold;
  color: #333;
}

.category-film {
  padding: 0 6px;
  position: absolute;
  bottom: 0;
  background-color: #c2d4d7;
}

.category2 {
  font-size: 17px;
  padding: 6px 16px 6px;
  background-color: #ffffffe6;
  color: #3581f4;
  position: absolute;
  bottom: 0;
}

.block-title {
  font-size: 16px;
  color: #03030366;
  font-weight: bold;
  padding-bottom: 11px;
}

.block-title a {
  font-size: 16px;
  color: #03030366;
  font-weight: bold;
  padding-bottom: 11px;
}

.turn-title a {
  font-size: 16px;
  color: #03030380;
}

.summary {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
}

.debate-link a {
  font-size: 17px;
  color: black;
}

.see-features a {
  font-size: 18px;
  color: black;
}

.world-span a {
  font-size: 16px;
  color: #f72210;
  background-color: white;
}

.block-title2 a {
  font-size: 22px;
  color: #f72210;
}

.info a {
  font-size: 17px;
  color: black;
}

.featured-stories h3 > a {
  font-size: 20px;
  color: black;
}

.sponsored h3 > a {
  font-size: 20px;
  color: black;
}

.top-story h2 > a {
  font-size: 22px;
  color: black;
}

.the-debate ul {
  padding: 0;
}

.debate-opinion img {
  margin-right: 10px;
}

.vs-div button {
  font-size: 14px;
  background-color: black;
  color: white;
  border: none;
  padding: 4px 6px;
  border-radius: 50%;
}

.byline {
  font-size: 14px;
  color: #555;
  margin: 4px 0 0;
}

.div-title {
  width: 100%;
  font-size: 19px;
  color: #333;
  padding: 0 0 12px;
  margin: 0 0 15px;
}

.div-title img {
  margin-right: 8px;
  width: 29px;
  height: 28px;
}

.see-features {
  background-color: #f4f5f6;
  padding: 10px 10px 10px 12px;
}

.magazine {
  margin-bottom: 30px;
}

.magazine-spans {
  margin: 10px 0;
}

.cover-span {
  font-size: 16px;
  color: white;
  background-color: #f72210;
  padding: 3px 7px;
  margin: 0 7px 0 0;
}

.magazine h2 > a {
  font-size: 16px;
  color: black;
}

.editor-picks h3 > a {
  font-size: 20px;
  color: black;
}

.block-title2 {
  padding: 25px 0 6px;
}

.us-div {
  margin: 30px 0 50px 0;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.us-div h4 {
  margin: 10px 0 25px;
}

.us-div h4 > a {
  font-size: 18px;
  color: black;
}

.feature ul {
  padding: 0;
  margin: 0;
}

.feature img {
  width: 258px;
}

.feature li {
  padding: 0 0 10px 0;
}

.info {
  padding-left: 16px;
  width: 100%;
}

.block-title-red {
  color: #f72210;
}

.image-stack {
  display: grid;
  width: 300px;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.image-stack__item--top {
  grid-column: 1 / span 8;
  grid-row: 1;
  padding-top: 20%;
  z-index: 1;
}

.mag-cont {
  background-color: #f4f5f6;
  padding: 24px 20px 20px;
}

.image-stack__item--bottom {
  grid-column: 4 / -1;
  grid-row: 1;
}

.footer-div svg {
  width: 236px;
  height: 35px;
  margin-left: 20px;
  fill: #f72210;
}

.leaf {
  color: #333;
}

.edition-div li a {
  color: #666;
  font-size: 14px;
}

.sub-art,
.nl-bot {
  padding-bottom: 20px;
}

.sub-art .block-title,
.nl-bot .block-title {
  color: #f72210;
}

.mag-cont .img {
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 13px;
  padding-right: 90px;
  height: 160px;
}

.current {
  position: absolute;
  right: 0;
  top: 13px;
}

.mag-thumb {
  width: 170px;
  height: 228px;
}

.mag-cont .info h3,
.nl-cont .info h3 {
  font-size: 20px;
}

.subscribe-btn {
  position: relative;
  font: bold 18px/18px "Roboto Condensed", sans-serif;
  background-color: #f72310;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 10px 10px 12px;
  border-radius: 3px;
}

.nl-bot .info {
  padding: 25px 20px 30px;
  border: 1px solid #ebebeb;
}

.story-img img {
  width: 95px;
}

.nl-cont .img img {
  object-fit: cover;
  height: 170px;
}

.nl-cont .info h3 {
  line-height: 28px;
  margin-bottom: 15px;
  z-index: 6;
}

.nl-cont .info .signup-email,
.nl-cont .info .signup-btn {
  width: 100%;
  height: 38px;
  line-height: 38px;
}

.nl-cont .info .signup-btn {
  border-radius: 0 3px 3px 0;
  margin-top: 0;
}

.copyright {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #666;
}

.about-us {
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100vw;
}

.edition-div {
  max-width: 100%;
  border-top: 1px solid grey;
  margin-right: 15px;
  margin-top: 6px;
  justify-content: space-around;
}

.iconify {
  color: #666;
  margin-bottom: 12px;
  font-size: 32px;
  justify-content: flex-end;
}

.vs-div {
  position: relative;
  justify-content: center;
}

.vs-wrap {
  position: relative;
}

.hr1 {
  margin-bottom: 1px;
}

.hr2 {
  margin-top: 1px;
}

.decoration {
  position: absolute;
  z-index: 1;
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  font: bold 14px/32px "Roboto Condensed", sans-serif;
  text-align: center;
  left: 45%;
  top: -15px;
}

.category a:hover {
  text-decoration: none;
  color: #f72210;
}

.category-film a:hover {
  text-decoration: none;
  color: #333;
}

.block-title a:hover {
  text-decoration: none;
  color: #03030366;
}

.turn-title a:hover {
  text-decoration: none;
  color: #03030380;
}

.debate-link a:hover {
  color: black;
  text-decoration: underline #f72210;
}

.see-features:hover {
  background-color: rgb(223, 223, 223);
}

.see-features a:hover {
  color: black;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline #f72210;
  color: black;
}

.featured-stories h3 > a:hover {
  text-decoration: underline #f72210;
}

.sponsored h3 > a:hover {
  text-decoration: underline #f72210;
}

.top-story h2 > a:hover {
  text-decoration: underline #f72210;
}

.magazine h2 > a:hover {
  text-decoration: underline #f72210;
  color: black;
}

.editor-picks h3 > a:hover {
  text-decoration: underline #f72210;
}

.us-div h4 > a:hover {
  text-decoration: underline #f72210;
  color: black;
}

@media only screen and (max-width: 600px) {
  .more-stories {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .more-stories img {
    height: 95px;
    width: 95px;
  }
}

@media only screen and (min-width: 768px) {
  .summary {
    font-size: 15px;
  }

  .feature img {
    width: 90px;
  }

  .sponsored {
    margin: 0 auto;
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .magazine img {
    height: 260px;
    width: 260px;
  }

  .sponsored {
    margin: 0 auto;
    width: 100%;
  }
}
